GET_PRS_PYTHON="$( \
  nix build \
    --no-link \
    --print-out-paths \
    --impure --expr '
    with import <nixpkgs> {};
    python3.withPackages(ps: [
      ps.tabulate
    ])
  ' \
)/bin/python3"
export GET_PRS_PYTHON
export NIX_PATH=nixpkgs=$PWD
